body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar.navbar-expand-lg {
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    line-height: 60px;
}
